.cont1{
    margin: 10px;
  }
  .navbar{
    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 20px;
      height: 75px;
      
      width: 100%;
    }
    .navbar img{
      /* margin-left: 10px; */
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
    #carrito{
      width: 75%;
      margin: 10px;
      height: 75%;
    }
    